<launch>
  <arg name="set_port_motor" default="/dev/ttyMotor"/>

  <!-- 모터 드라이버 실행 -->
  <!-- <node name="omo_r1_motor" pkg="omo_r1_bringup" type="omo_r1_motor.launch" args="set_port:=/dev/ttyUSB0"/> -->
  <include file="$(find omo_r1_bringup)/launch/omo_r1_motor.launch">
    <arg name="set_port" value="$(arg set_port_motor)"/>
  </include>

  <!-- USB 카메라 노드 실행 -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
    <!-- You can add more camera parameters -->
  </node>
  
  
  <!-- Image republish 노드 실행 -->
  <node name="republish" pkg="image_transport" type="republish"
  args="raw in:=/usb_cam/image_raw raw out:=/camera/image_raw"/>

  <!-- Freespace detection  -->
  <node name="roi_publisher" pkg="freespace_detection" type="floor_detection.py" output="screen">
      <!-- Add parameters or remappings here if needed -->
  </node>


  <!-- Stella VSlam 실행 -->
  
  <!-- Darknet ROS 실행 -->
  <!-- <include file='$(find darknet_ros)/launch/darknet_ros.launch'/> -->


  <!-- Hybrid A* 실행 -->
  <!-- <node name="hybrid_astar" pkg="hybrid_a_star" type="run_hybrid_a_star.launch" /> -->
  <include file='$(find hybrid_a_star)/launch/run_hybrid_a_star.launch'/>

  <!-- Vec3 subscriber 실행 -->  
  <node name="vec3_sub" pkg="vec3_to_cmd" type="vec3_subscribe_moveToBase_new_new.py" output="screen"/>

  <!-- 2D Pose 시각화 실행 -->
  <node name="pose_viz" pkg="convert2d_pose" type="2d_pose_show_newnew.py" />

  <!-- initial pose를 Stella SLAM camera_pose 위치로 자동 갱신 -->
  <!--
  <node name='publish_init' pkg='topic_tools' type='transform'
  args="/camera_pose /initialpose geometry_msgs/PoseWithCovarianceStamped '
  import nav_msgs;
  geometry_msgs.PoseWithCovarianceStamped output;
  output.header = nav_msgs.msg.header;
  output.pose.pose = nav_msgs.msg.pose.pose;
  output.pose.covariance = nav_msgs.msg.pose.covariance;
  return output;'"/>
  -->
</launch>
